server:
  port: 8080

spring:
  application:
    name: demo-monitoring

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: demo-api

